.testimonialContainer {
  padding: 5% 10%;
  background-color: #e6e5e5;
  width: 100%;
}

.testimonialContainerTitle {
  text-align: center;
  margin-bottom: 50px;
}

.testimonialCarousal {
  /* min-height: 40vh; */
}

.testimonialDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.TestimonialsInfo {
  font-size: 18px;
  color: #000;
  text-align: center;
  font-style: italic;
}

.TestimonialsName {
  color: #f37021;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

.TestimonialsPost {
  color: #3d3d3d;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 1120px) {
  .testimonialContainer {
    padding: 10% 5%;
  }
  .testimonialDiv {
  min-height: 400px;
}
}
